<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="Cantina"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cantina"
        android:usesCleartextTraffic="false">

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".TelaPrincipalPaisActivity" android:exported="false" />
        <activity android:name=".CadastroPaisActivity" android:exported="false" />
        <activity android:name=".AreaResponsavelActivity" android:exported="false" />
        <activity android:name=".CardapioTelaInicialActivity" />
        <activity android:name=".ProdutoActivity" />
        <activity android:name=".CarrinhoActivity" />
        <activity android:name=".RelatorioPagamentoActivity" />
        <activity android:name=".ExtratoActivity" />

        <activity
            android:name=".TelaInicialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
